<!-- Write your html code here! -->

<!doctype html>
<html>
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename=favicon_path) }}" />
    </head>
    <body>
        <h1>   # Welcome to {{name}}</h1>
        <p>         > It worked succesfully!</p>
        <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
    </body>
</html>
